html {
  height:100%;
  width:100%;
  position: absolute;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  width:100%;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainnav {
  
}
#map {
  width:100%;
  height:350px;
}

#papago {
  width:100%;
  height:15em;
  margin-top:5%;
}
#transinput {
  height:15em;
}

#google {
  margin-top:1em;
}
#transsubmit {
  float:right;
  display:inline;
}
#transdiv {
  border:1px solid;
}

#secondselect {
  margin-bottom:0px;
}